<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Should I take my dog to Fort Funston now?</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <link href="Assets/bootstrap/css/bootstrap.css" rel="stylesheet"> 
  <script src="Assets/knockout/knockout-2.0.0.js" type="text/javascript" charset="utf-8"></script>	
  <script src="Assets/bootstrap/js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8"></script>	  
  <style type="text/css">
	dl.myDl dd {
	    margin-left:120px;
	    margin-top:10px;
	    margin-bottom:10px;
	}

	dl.myDl dt {
	    width:auto;
	}

	.maybe{
            color: #c09853;
	}	
	
	.answer{
	   margin-top:50px;
	   font-size: 100px; 		
	}

	.no{
  	   color: #b94a48;	
	}	

	.yes{
  	   color: #468847;
	}	     

	.hidden{
		visibility : hidden;
	}   

	.visible{
		visibility:visible;
	}



   </style>
</head>
<body>
    <div  class="container" >    		
	<h2 style="margin-top:10px">Should I take my dog to Fort Funston right now?</h2>	
	<br />
	<br />
	<div data-bind="if: !isComplete()">
		<h3>Hmmmm..let me see...</h3>	
	</div>
	<div data-bind="css: { visible: isComplete() }" class="hidden"  >
		<div data-bind="if: !isError()">
			<div data-bind="if: goFunston() == 1" >
			   <h3 class="answer yes">Yes</h3>
			</div>
			<div data-bind="if: goFunston() == -1" >
			   <h3 class="answer no">No</h3>
			</div>		
			<div data-bind="if: goFunston() == 0" >
			   <h3 class="answer maybe">Maybe</h3>
			</div>
		</div>
		<div data-bind="if: isError()">
			<h1 class="no">Error occured getting weather data. Try again or go to Fort Funston at your own risk.</h1>
		</div>		
		<div style="margin-top:100px;font-size:20px">
		    <dl xmlns="http://www.w3.org/1999/xhtml" class="dl-horizontal myDl"  >
              
			    <dt>Condtions</dt>
			    <dd data-bind="text: condition(), css: { maybe : conditionCode() == 0, no : conditionCode() > 1 }" /></dd>
			    <dt>Wind</dt>
			    <dd data-bind="text: windText(), css: { maybe : windMph() < 25 && windMph() > 15 , no : windMph() > 25  }" /></dd>
			    <dt>Temp</dt>       
			    <dd data-bind="text: tempText(), css: { maybe : temp() > 45 && temp() < 60, no : temp() < 45 }" /></dd>                
			    <dt>Tide</dt>
			    <dd data-bind="text: tideText(), css: { maybe : tideHours() > 10, no : tideHours() > 18 }" /></dd>
            </dl>
		     <div data-bind="text: obsTime()" style="font-size:small"></div>
	       </div>
           
        
		<div style="margin-top:90px">
			<dl>
			   <dt>Webcam:</dt>
			   <dd style="margin-left:-5px"><img src="http://www.flyfunston.org/newwebcam/panosmall.jpg"  hspace=5 vspace=5 border="0"></dd>
			   <dd style="margin-left:0px">webcam provided by <a href="http://www.flyfunston.org">flying feathers hang gliding club</a></dd>
			</dl>
		</div>
       </div>
       
       <div>
            <p>Would you take your dog to Fort Funston under these conditions? <a href="#" rel="tooltip" title="In order to make the best decision,&#13;&#10;this site learns from your suggestions.&#13;&#10;Please contribute!">(why)</a> </p>
            <div id="buttonSet">
                <button data-bind="click: function() { submitAnswer(1) }" class="btn yes" >Yes</button>  
                <button data-bind="click: function() { submitAnswer(0) }" class="btn maybe">Maybe</button>  
                <button data-bind="click: function() { submitAnswer(-1) }" class="btn no">No</button>
            </div>
            <div id="thanks" class="yes" >
                Thanks!
            </div>
            <div id="problem" class="no">
                There was a problem submitting the data. Please try again later.
            </div>          
            <div id="submitResult">
            </div>
       </div>
    </div>	
</body>
  <script type="text/javascript">
      $(function () {
          $('#thanks').hide();
          $('#problem').hide(); 

          var viewModel = {
              self: this,
              isComplete: ko.observable(false),
              isError: ko.observable(false),
              obsTime: ko.observable(''),
              condition: ko.observable(''),
              conditionCode: ko.observable(0),
              temp: ko.observable(0),
              windChill: ko.observable(0),
              windMph: ko.observable(0),
              windGustMph: ko.observable(0),
              goFunston: ko.observable(5),
              windText: ko.observable(''),
              tempText: ko.observable(''),
              tideHours: ko.observable(0),
              tideText: ko.observable(''),
              serverResult: null,

              submitAnswer: function (val) {
                  this.serverResult.GoFunston = val;
                  this.serverResult.IsObservedByUser = true;
                  $.post("/observation", this.serverResult)
                    .success(function (jqxhr) { $("#thanks").show(); })
                    .error(function () { $("#problem").show(); })
                    .complete(function () { $("#buttonSet").hide(); });

              },
              submitResultText: ko.observable('')

          };
                   
          console.log(viewModel);

          $.ajax({
              url: '/observation',
              dataType: 'json',
              cache: false,
              type: 'GET',
              success: function (result) {
                  console.log(result);
                  viewModel.serverResult = result;
                  viewModel.obsTime(result.ObsDateDescription);
                  viewModel.condition(result.Condition);
                  viewModel.conditionCode(result.ConditionCode)
                  viewModel.temp(result.Temp);
                  viewModel.windChill(result.WindChill);
                  viewModel.windMph(result.WindMph);
                  viewModel.windGustMph(result.WindGustMph);
                  viewModel.goFunston(result.GoFunston);

                  if (result.GoFunston == -5) {
                      viewModel.isError(true);
                  }

                  if (result.WindGustMph > 0) {
                      viewModel.windText(result.WindMph + ' MPH gusting to ' + result.WindGustMph + ' MPH')
                  } else {
                      viewModel.windText(result.WindMph + ' MPH');
                  }

                  if (result.WindChill > 0) {
                      viewModel.tempText(result.Temp + 'F (feels like ' + result.WindChill + 'F with wind chill)');
                  } else {
                      viewModel.tempText(result.Temp + 'F');
                  }

                  if (result.HoursUntilNextLowTide > -1) {
                      viewModel.tideHours(result.HoursUntilNextLowTide);
                      viewModel.tideText('Next low tide in ' + result.HoursUntilNextLowTide.toFixed(2) + ' hours');
                  } else {
                      viewModel.tideHours(0);
                      viewModel.tideText('No tide data available.');
                  }


              },
              error: function (result) {
                  viewModel.isError(true);
              },
              complete: function () {
                  viewModel.isComplete(true);
              }
          });

          ko.applyBindings(viewModel);

      });


      /*
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30327448-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(); */
   </script>
</html>
