<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbPath" value="mongodb://jeckstein:plectrun8@ds031647.mongolab.com:31647/fortfunstonweather" />
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>  
</configuration>